install
cdrom
lang en_US.UTF-8
keyboard us
network --onboot yes --device eth0 --bootproto dhcp --noipv6 --hostname pa-node
rootpw  --plaintext Paragon1
user --name=paragon --groups=wheel --plaintext --password=Paragon1
firewall --disabled 
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone --utc America/New_York
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto rhgb quiet"

text
skipx
zerombr

clearpart --all --initlabel
part /boot --fstype="ext4" --size=1024
# === include partitioning scheme generated in pre ===
%include /tmp/part-include
# ====================================================

volgroup cl pv.01
logvol / --fstype="xfs" --name=root --vgname=cl --percent=100 --grow

auth  --useshadow  --enablemd5
firstboot --disabled
reboot

%packages --nobase --ignoremissing 
@core
bzip2
kernel-devel
kernel-headers
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
%end

%pre --erroronfail --log=/tmp/ks-pre.log
 
hw=$(virt-what | head -1)
sleep 10


capacity=$(fdisk -l | grep /dev/sda | cut -f 3 -d " " | cut -f 1 -d ".")
rootsize=`expr $capacity \* 1000 - 50000`
sleep 1
# === open-vm-tools installation for vmware only ===
echo "open-vm-tools" > /tmp/virtual
# ============== generate partitioning scheme for vmware ====================================
echo "part pv.01 --fstype="lvmpv" --size=$rootsize" > /tmp/part-include
# ===========================================================================================

%end



%post
# Install SUDO
/usr/bin/yum -y install sudo PyYAML
echo -e "n\np\n\n\n\nw\n" | fdisk /dev/sda
echo -e "t\n3\n0\nw\n" | fdisk /dev/sda


%end

